<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amanda.oscarapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoscar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaInicial" />
        <activity android:name=".VotacaoFilme" />
        <activity android:name=".VotacaoDiretor" />
        <activity android:name=".DetalhesCandidato"/>
        <activity android:name=".DetalhesDiretor"/>
        <activity android:name=".ConfirmarVoto" />
    </application>

</manifest>